@media (min-width: 360px) and (max-width: 768px) {

  .nav-img {
    width: 5rem; 
    height: 5rem;
    margin-left: -1rem;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
    border: 2px solid #d9d9d9;
    border-radius: 5rem;
    padding: 0.6rem 0.8rem;

  }

  .close-btn {
    position: absolute;
    top: 1.8rem;
    right: 3.1rem;
    background: none;
    border: none;
    color: #d8871a;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    display: block;
    border: 2px solid #d8871a;
    padding: 0.7rem 1rem;
    border-radius: 5rem;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    background-color: #d9d9d9;
    border: 1px solid #2b292f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }

  .mobile-menu.open {
    right: 0;
  }

  .mobile-menu ul {
    list-style: none;
    text-align: center;
    display: block;
    margin-top: 5rem;
    width: 100%;
  }
  
  .mobile-menu ul li {
    padding: 0.5rem 0;
    margin: 1rem 0;
  }

  .mobile-menu ul li:hover {
    background-color: #2b292f;
    width: 100%;
    color: #d9d9d9;
  }
  .mobile-menu ul li a:hover{
    color: #d9d9d9;
  }

  .mobile-menu ul li a {
    color: #2b292f;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
  }

  .mobile-resume{
    padding: 3rem 0;
  }

  .mobile-resume a{
    text-decoration: none;
    color: #d8871a;
    font-weight: 600;
  }
  .mobile-resume a:hover{
    color: #2b292f;
  }

  /* home */
  section{
    width: 100%;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
  }
  .home-name{
    font-size: clamp(1rem, 2vw, 1.5rem);
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-top: 10rem;
    gap: 0;
  }

  .home-name p{
    font-size: 1.3rem;
  }

  .home-name .nickname {
    color: #d8871a;
  }

  .home-name .fd{
    font-size: 1.2rem;
    font-weight: lighter;
  }

  .home-profile{
    width: 23rem;
    height: 22rem;
  }
  .home-profile img{
    border-radius: 8rem;
  }

  .contact-btn, .home-social{
    display: none;
  }

  /* about */
  #about{
    display: flex;
  }

  .about-container{
    height: auto;
    width: 70%;
    margin-top: 13rem;
    justify-content: center;
    padding: 0 1rem;
  }
  
  .about-txt{
    width: 100%;
    font-size: 0.8rem;
    align-items: center;
    text-align: center;
 }

 .about-txt h2{
  font-size: 0.9rem;
  text-align: center;
 }
 .about-txt h1{
  font-size: clamp(1.5rem, 4vw, 2rem);
 }
 .about-txt p{
  text-align: justify;
 }

 /* skill */
 #skill{
  justify-content: center;
  height: auto;
}

.txt-title{
  font-size: 0.7rem;
  margin-top: 5rem;
}

.skill-list{
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.skill-1{
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skill-con {
  width: 40%; 
  height: auto;
  padding: 1rem 0 1rem 0;
  gap: 1rem;
}
.skill-con h2{
  margin: 0;
}
.skill-img{
  height: auto;
}
.skill-img i {
  font-size: 3rem; 
}

/* work */
#work{
  height: auto;
}
.work-container{
  width: 80%;
  gap: 0.5rem;
  margin-top: 7rem;
}

.work-header{
  font-size: 0.8rem;
  padding-left: 1rem;
}

.work-list{
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: auto;
}

.work-1{
  width: 90%;
  height: auto;
  padding: 1rem 0.5rem 1rem 0.5rem;
  
}
.work-img{
  height: 10rem;
}
.work-txt{
  font-size: 0.8rem;
  height: 6rem;
}

/* contact */
.contact-container{
  width: 80%;
  flex-direction: column;
}

.con-right{
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
}
.con-title{
  width: 90%;
  font-size: 0.6rem;
}

.con-title .con-me{
  margin-top: -2rem;
}

.horizontal-line{
  width: 5rem;
}

.con-field{
  width: 100%;
  gap: 1.5rem;
}

.con-icon{
  width: 50%;
}
 
/* hidden */
.work-txt p, .con-left, .about-img, .work-btn, .resume, ul{
  display: none;
 }

.skill-list::-webkit-scrollbar, .work-list::-webkit-scrollbar {
  width: 4px;
}

.skill-list::-webkit-scrollbar-track, .work-list::-webkit-scrollbar-track  {
  background: transparent;
}

.skill-list::-webkit-scrollbar-thumb, .work-list::-webkit-scrollbar-thumb {
  background: #d8871a; 
  border-radius: 10px;
}
    
  }