/* NAVBAR */
.nav {
  position: fixed;
  top: 0;
  width: 85%;
  height: 15%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding-top: 0.7rem;
  
}

.burger-menu {
  display: none; 
  font-size: 2rem;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.mobile-menu, .close-btn{
  display: none;
}

.nav-img {
  width: 6rem; 
  height: 6rem;
}

.nav-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0 15px;
}

/* ul li a {
  text-decoration: none;
  color: #a3a3a3;
  font-size: 20px;
  transition: color 0.3s ease;
  font-weight: 400;
} */

.nav .desk-ul li a {
  text-decoration: none;
  color: #a3a3a3;
  font-size: 20px;
  transition: color 0.3s ease;
  font-weight: 400;
}

.nav.work-active .desk-ul li a {
  color: #2b292f;
}
.nav .desk-ul li a:hover {
  color: #fff;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume button {
  background-color: #d8871a;
  color: #ececec;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.resume button:hover {
  background-color: #d9d9d9;
  color: #2b292f;
}

  /* home */
section{
  height: 100vh;
  width: 85%;
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;
}

/* Left content */
.home-name {
  color: #d9d9d9;
  font-weight: bold;
  padding-left: 20px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: auto;
  gap: 1.5rem;
}

.home-name p,
.home-name h1,
.home-name .fd,
.contact-btn {
  margin: 0; 
  padding: 0; 
}

.home-name h1{
  line-height: 6rem;
  font-family:'Lucida Sans';
}

.home-name p{
  font-weight: lighter;
}

.wave-hand {
  display: inline-block;
  animation: wave 1.5s infinite;
  transform-origin: center;
}

.home-name .nickname {
  color: #d8871a;
  margin-left: 1rem;
}

.home-name.fd{
  font-size: 1.2rem;
  font-weight: lighter;
}
  
.contact-btn button {
  background: transparent;
  border: 1px solid #d8871a;
  color: #d8871a;
  font-size: 1.2rem;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-btn button:hover {
  background-color: #d8871a;
  color: #2b292f;
  border-color: #d9d9d9;
}

/* Right content */
.home-profile {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: auto;
  width: 40rem;
  height: 35rem;
}

.home-profile img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.home-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.vertical-line {
  width: 4px;
  height: 10rem;
  background-color: #d8871a;
  margin-bottom: 20px;
}

.social-icon {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 1.7rem;
}

.social-icon a {
  color: #d9d9d9;
  transition: color 0.3s ease;
}

.social-icon a:hover {
  color: #d8871a;
}

/* about */
.about-container{
  display: flex;
  background-color: #d9d9d9;
  width: 80%;
  height: 60%;
  margin: 9rem auto;
  border-radius: 0.5rem;
  padding: 2rem;
  gap: 2rem;
}

.about-img {
  width: 15rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.about-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.2rem double #2b292f; 
  border-radius: 3rem 8rem 8rem 0rem; 
  clip-path: inset(0 0 40% 20%); 
}

.about-img img {
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  z-index: 1; 
}
  

.about-txt {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align:justify;

}

.about-txt h1{
  font-size: 3rem;
  color: #2b292f;
}

.about-txt h2{
  color: #d8871a;
}

.about-txt p{
  margin-top: auto;
  line-height: 1.5rem;
}

/* skill */
#skill{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.txt-title{
  display: flex;
  justify-content: center;
}

.txt-title h1{
  color: #d9d9d9;
}
.txt-title  span{
  color: #d8871a;
}

.skill-list{
  width: 100%;
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.skill-1{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
}

.skill-con{
  width: 15%;
  height: 10rem;
  border: 2px solid #a3a3a3;
  background-color: transparent;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a3a3a3;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.skill-con:hover {
  background-color: #a3a3a3;
  border: 1px solid #2b292f;
  color: #2b292f;
  transform: scale(1.03); 
}

.skill-img{
  width: 50%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: end;
}

.skill-img i{
  font-size: 4rem;
  color: #ecebeb;
}

.skill-img i:hover{
  color: #2b292f;
}

/* work */
#work{
  width: 100%;
  height: auto;
}
.work-container{
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin: 7rem auto;
}

.work-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.work-header h2{
  color: #d9d9d9;
}

.work-header span{
  color: #c97b15;
}

/* .work-btn{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-btn button{
  border-radius: 0%;
}

.btn-prev{
  border: 2px solid #c97b15;
  background-color: transparent;
  color: #d8871a;
}

.btn-nxt{
  border: 2px solid #d8871a;
  background-color: #d8871a;
  color: #d9d9d9;
}

.work-btn button:hover{
  color: #2b292f;
} */

.work-list{
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.work-1{
  background-color: #d9d9d9;
  border-radius: 0.2rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2b292f;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  /* position: relative;
  overflow: hidden; */
}

.work-1:hover {
  transform: scale(1.03);
  background-color: #a3a3a3;
  border: 1px solid #2b292f;
  color: #2b292f;
}

/* .work-1 .preview-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(174, 174, 174, 0.338); 
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.work-1 .preview-overlay i {
  font-size: 2rem;
  color: white;
  transition: transform 0.3s ease;
}

.work-1:hover .preview-overlay {
  opacity: 1;
}

.work-1:hover .preview-overlay i {
  transform: scale(1.2);
} */

.work-img{
  width: 90%;
  height: 15rem;
}

.work-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.2rem;
  border: 1px solid #2b292f83;
}

.work-txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: justify;
}

.work-txt p{
  font-size: 0.8rem;
  line-height: 1.3rem;
}
.work-txt button{
  width: 100%;
  border: 0.1px solid;
  border-radius: 0;
  color: #2b292f;
  font-size: 0.8rem;
}
.work-txt button:active{
  background-color: #a3a3a3;
}

/* contact */
#contact{
  width: 100%;
}

.contact-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.con-left{
  width: 50%;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.con-left .fa-comment-dots{
  color: #977897;
}

.con-left .fa-grin-beam{
  color: #cead18;
}

.con-left p{
  font-style: italic;
  color: #333333;
}

.con-left .con-img{
  width: 80%;
  height: 30rem;
}

.con-right{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.con-title, .con-field{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #d9d9d9;
}

.con-title .con-me{
  color: #d8871a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: -5rem;
}

.horizontal-line {
  width: 10rem;
  height: 2px;
  background-color: #d8871a;
}

.con-field{
  align-items: center;
  gap: 1.2rem;
}

input, textarea{
  background-color: transparent;
  border: 1px solid #a3a3a3;
  width: 80%;
  height: 2rem;
  padding: 0.2rem;
  color: #d9d9d9;
}

textarea{
  height: 5rem;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Arial', sans-serif;
}

.con-field button{
  background-color: #a3a3a3;
  color: #2b292f;
  width: 81%;
  border-radius: 0.1rem;
}

.con-icon{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.con-icon a{
  color: #d9d9d9;
   font-size: 1.5rem;
}


@keyframes wave {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(20deg); }
  40% { transform: rotate(0deg); }
  60% { transform: rotate(20deg); }
  80% { transform: rotate(0deg); }
}


